body{
    margin: 0;
    font-family: system-ui;
}
.wrapper{
    position: relative;
}
.wrapper .header{
    box-shadow: 1px 2px 6px dimgrey;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    position: sticky;
    top: 0;
    background: #ffff;
}
.wrapper .header .nav{
    background: black;
    padding: 4px;
    width: 35px;
    margin: 5px;
}
.wrapper .header .right{
    position: relative;
    display: inline-block;
}
.wrapper .header .right p{
    font-weight: bold;
}

.wrapper .header .right .dropdown{
    position: absolute;
    display: none;
    box-shadow: 2px 4px 8px dimgrey;
    padding: 5px 20px 20px;
    z-index: 1;
    background: #ffff;
    right: 4px;
    top: 40px;
}
.wrapper .header .right .dropdown a{
    text-decoration: none;
    color: black;
    margin-top: 5px;
    font-weight: 600;
}
.wrapper .body{
    margin-left: 10px;
    margin-right: 10px;
}
.wrapper .body .row{
    margin-top: 50px;
}
.wrapper .body .row.history{
    margin-top: 0px;
}
.wrapper .body .row .col .card{
    box-shadow: 2px 2px 5px dimgrey;
    background: #D9D9D9;
    margin-bottom: 15px;
    padding: 15px;
}
.wrapper .body .row .col h2{
    text-align: center;
}
.wrapper .body .row .col input{
    width: 75%;
    padding: 10px;
    border: none;
    background: #D9D9D9;
    border-radius: 5px;
}
.wrapper .body .row .col button{
    width: 22%;
    padding: 12px;
    border: none;
    color: #ffff;
    border-radius: 5px;
    background: #409DF3;
    cursor: pointer;
}
.arrow {
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    margin-left: 5px;
}
.down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}
.border{
    border-radius: 10px;
    height: 50px;
}
.hidden{
    display: none;
}
#sidebar{
    position: fixed;
    z-index: 999999;
    color: #ffff;
    width: 50%;
    background: #000000f7;
    text-decoration: none;
    height: 100vh;
    box-shadow: 3px 1px 12px dimgrey;
}
#sidebar .close{
    float: right;
    margin-right: 15px;
    margin-top: 10px;
    font-size: 20px;
    cursor: pointer;
}
#sidebar .logo, #sidebar .labels, .lists {
    text-align: center;
}
a{
    text-decoration: none;
    color: #ffff;
}
#sidebar .logo .circle-logo{
    background: dimgray;
    height: 80px;
    width: 80px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 100%;
    margin-top: 30px;
}
#sidebar .labels ul, .lists ul{
    list-style: none;
    padding-inline-start: 0 !important;
}

#sidebar .labels ul li.active, .lists ul li.active{
    background: #4A8DF1;
}
#sidebar .labels ul li, .lists ul li{
    padding: 10px 25px;
    border-radius: 10px;
    width: 65%;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 15px;
    margin-top: 30px;
}

/* Budget Css */
#budget .new_budget{
    width: 100%;
    padding: 20px;
    box-shadow: 1px 2px 4px dimgrey;
}
#budget .row{
    margin-top: 15px;
}
#budget .budget-search{
    margin-top: 30px;
    margin-bottom: 50px;
}
#budget .budget-search .col.search input{
    padding: 15px;
    box-shadow: 1px 2px 4px dimgrey;
}
#budget .budget-search .col.search button{
    width: 23%;
    padding: 15px;
    box-shadow: 1px 2px 4px dimgrey;
}
#budget .budget-types .row{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#budget .budget-types .row .col button{
    width: 8rem;
    box-shadow: 1px 2px 4px dimgrey;
}
#budget .budget-types .row .col.add-btn{
    margin-left: 85px;
}
#budget .budget-types .row .col .remove{
    background: #f14a4a;
    box-shadow: 1px 2px 4px dimgrey;
}
#budget .budget-types .row .col.name{
    font-size: 20px;
    font-weight: bolder;
}
#budget .budget-types .card{
    background: #D9D9D9;
    padding: 10px;
    margin-top: 15px;
    height: 155px;
    margin-bottom: 75px;
    box-shadow: 1px 2px 4px dimgrey;
}
#budget .row.new-budget{
    display: flex;
    justify-content: end;
    margin-top: 40px;
}
#budget .new_budget{
    padding-left: 60px !important;
    padding-right: 60px !important;
    cursor: pointer;
}
#budget .row.budget-search{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#budget .row.budget-search .col.search{
    width: 60%;
}
#budget .no-data-msg{
    display: flex;
    justify-content: center;
    margin-top: 200px;
    align-items: center;
    color: #10101066;
    margin-bottom: 200px;
}
